body{
    margin: 0;
    padding: 0;
  }

/* Slide Text */

#slidetxt{
  position: relative;
}

#page {
  position: relative;
}

#paginas{
  text-align: center;
  font-size: 640px;
}

#pag1{
  display: none;
}

#pag2{
  display: none;
}

#pag3{
  display: none;
}

/* Text */

.estudio{
  font-size: 23px;
  margin-left: 25%;
  line-height: 36px;
  font-family: "Metropolis-Light ";
  src: local(Metropolis-Light), url(../fonts/Metropolis-Light.otf)
}

.cultura{
margin-top: -29%;
margin-left: 70%;
 font-size: 40px;
 color: #FF2600;
 font-family: "Homade-Bold";
 src: local(Homade-Bold), url(../fonts/Homade-Bold.ttf)
}

#botaosobre{
  position: absolute;
color: #686868;
  font-size: 20px;
  margin-left: 63%;
  margin-top: 16.2%;
  text-decoration: none;
  font-family: "Metropolis-Medium ";
   src: local(Metropolis-Medium), url(../fonts/Metropolis-Medium.otf)
}

/* Controller Buttons */

button{
  border: none;
  background-color: transparent;
  margin-top: 15%;
  cursor: pointer;
}

#left{
  position: absolute;
  margin-top: -1%;
  margin-left: 55%;
  transform: rotate(180deg);
}

#right{
  position: absolute;
  margin-top: -1%;
  margin-left: 60.5%;
}

.btns{
  margin-left: 5%;
  margin-top: 5%;
}
