/*.container{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.grid{
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 150px;
}

#img{
  width: 300px;
}

#img1{
  width: 300px;
}

#img3{
  width: 300px;
}

.box{
  margin: 0;
  width: 150px;
  height: 70px;
  flex: 1 1 150px;
}

@media (max-width: 800px) {
  
  .grid{
    flex-direction: column;
    gap: 200px;
  }
}*/

/*

 .hamburguer {
        width: 0vw;
        height: 0vh;
        position: fixed;
        top: 12%;
        left: 0px;
        z-index: 2000;
        justify-content: center;
        align-items: center;
    }

    .menu {
        width: 200px;
        height: 200px;
        margin: 8px;
        border-radius: 5px;
        cursor: pointer;
    }

    .logo img {
        left: -34%;
        width: 8%;
        height: 54%;
    }

    #boxmenu {
        display: none;
        width: 30%;
        height: 100%;
    }

    #linebox {
        position: fixed;
        float: right;
        right: -3%;
        width: 10%;
        height: 6%;
        top: -3%;
    }

*/